<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Login servlet</servlet-name>
        <servlet-class>com.blog.control.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login servlet</servlet-name>
        <url-pattern>/new_post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Create new Blog</servlet-name>
        <servlet-class>com.blog.control.Create</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Create new Blog</servlet-name>
        <url-pattern>/new_blog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadABlog</servlet-name>
        <servlet-class>com.blog.control.ReadJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadABlog</servlet-name>
        <url-pattern>/ReadJSON</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add_Comment</servlet-name>
        <servlet-class>com.blog.control.AddComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPost</servlet-name>
        <servlet-class>com.blog.control.EditPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPost</servlet-name>
        <url-pattern>/edit_post</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Approve</servlet-name>
        <servlet-class>com.blog.control.Approve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Approve</servlet-name>
        <url-pattern>/approve</url-pattern>
    </servlet-mapping>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>RegUser</web-resource-name>
            <url-pattern>/author</url-pattern>
            <url-pattern>/new_post</url-pattern>
            <url-pattern>/new_post.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>

        <auth-constraint>
            <role-name>role1</role-name>
        </auth-constraint>

        <user-data-constraint>
            <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-role>
        <role-name>role1</role-name>
    </security-role>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login_failed.html</form-error-page>
        </form-login-config>
    </login-config>

</web-app>